@import "./style.css";

@media screen and (width < 769px)
{
    .main-header {
        width: 768px;
        padding: 25px 32px;
        left: 0;
        top: 16px;
    }

    .three-line-open-menu {
        display: block;
        margin: auto 0;
    }

    .three-line-open-menu svg {
        width: 59px;
        height: 40px;
    }

    .header-logo {
        padding: 0px;
        margin: auto 146px auto 233px;
    }

    .links-only-dekstop {
        display: none;
    }

    .view-dekstop {
        display: none;
    }

    .header-links {
        padding: 0px;
    }

    .header-links li {
        padding: 0px;
    }

    .start-block {
        width: 100%;
        padding: 138px 353px 32px 32px;
        background: url(/src/images/background-start-tablet.png);
        background-position: right 20%;
        background-repeat: no-repeat;
    }

    .big-title {
        font-size: 28px;
    }

    .block-form {
        padding: 32px;
        padding-right: 65px;
        margin-top: 32px;
        width: 382px;
    }

    .block-form h3 {
        font-size: 16px;
    }

    .form-contacts {
        width: 295px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 32px;
        gap: 32px;
    }

    .form-contacts label {
        display: block;
    }

    .form-button {
        width: 155px;
        text-align: left;
        padding: 11px 24px;
    }

    .background-white {
        padding: 0;
    }

    .development-info {
        gap: 82px;
    }

    .blocks-center {
        width: 100%;
        padding: 32px;
    }

    .development-info-text {
        width: 321px;
    }

    .development-info-list {
        width: 233px;
        margin-top: 124px;
        font-size: 20px;
    }

    .main-footer {
        padding: 46px 21px 37px 56px;
    }

    .our-contacts-list {
        padding: 0;
    }

    .our-contacts-list-mail {
        width: 156px;
    }

    .our-contacts-list li {
        width: 176px;
        text-align: left;
    }

    .our-contacts-list p{
        font-size: 14px;
    }

    .footer-end-text {
        margin: 0;
    }
}